<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <title>menu</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
</head>
<body>
    <div class = "menus">
        <a>ユーザー</a>
        <a>勤怠</a>
        <a>ファイル</a>
        <a>連携</a>
        {{ if isAdmin }}
            <a>ユーザー管理</a>  
            <a>勤怠管理</a>
        {{ /if }} 
    </div>
</body>
</html>


