<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8'>
  <title>menu</title>
  <meta name='viewport' content='width=device-width, initial-scale=1'>
  <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
</head>
<style>
  .menus {
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100px;
    a {
        text-decoration: none;
    }
    ul {
      padding-left:0;
    }
    li {
      list-style:none;
      margin-bottom: 20px;
    }
  }
</style>
<body>
  <div class="menus">
    <ul>
      <li>
        <a>ユーザー</a>
      </li>
      <li>
        <a>勤怠</a>
      </li>
      <li>
          <a>ファイル</a>
      </li>
      <li>
          <a>連携</a>
      </li>
      <li>
          <a>ユーザー管理</a>  
      </li>
      <li>
          <a>勤怠管理</a>
      </li>
      <li>
          <a>ログアウト</a>
      </li>
    </ul>
  </div>
</body>
</html>